section.content{
    width: 60vw;
}

.about-title{
    font-size: 42px;
    font-weight: bolder;
    color: #092e20;
    margin-bottom: 20px;
}

.about-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
}

.about-img img{
    width: 250px;
    transition: 1s;
}

.about-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.about-text-container{
    width: 80%;
    margin-inline: auto;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.about-text{
    font-size: 20px;
    color: #092e20;
    margin-bottom: 20px;
}