@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: roboto;
    box-sizing: border-box;
}

body {
    background-color: #092e20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 95px;
    color: aliceblue;
    margin-bottom: 20px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    border-bottom: #000000 solid 2px;
}

.header-logo {
    width: 10%;
    padding: 10px;

}

.header-logo img {
    height: 75px;
    margin-inline: auto;

}

.header-menu {
    width: 80%;
}

.header-menu ul {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-menu ul li {
    list-style: none;
    position: relative;
}

.header-menu ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #092e20;
    left: 0;
    bottom: -5px; 
    transition: width 0.5s ease-in-out; 
} 

.header-menu ul li a {
    text-decoration: none;
    color: #092e20;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    transition: 0.5s;
}

.header-menu ul li:hover::after {
    transition: 0.5s;
    width: 100%;
    
}

.header-menu ul li a:hover{
    text-shadow: #092e20 2px 2px 5px;
    transition: 0.5s;
    
}



section.content {
    background-color: whitesmoke;
    padding: 20px;
    width: 90vw;
    height: auto;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.6);
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-title {
    font-size: 34px;
    margin-bottom: 20px;
    color: #092e20;
    font-weight: bolder;
}

.form-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmar {

    background-color: #092e20;
    color: whitesmoke;
    padding: 12px;
    border: solid #000000 2px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
    text-wrap: nowrap;
    cursor: pointer;
    margin-inline: 10px;
    transition: 0.5s;
}

.confirmar:hover {
    scale: 1.1;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
}

.cancelar {

    display: flex;
    flex-direction: column;
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
    padding: 12px;
    background-color: #ed4337;
    border: solid #000000 2px;
    border-radius: 5px;
    margin-inline: 10px;
    margin-block: 20px;
    transition: 0.5s;
}

.cancelar:hover {
    scale: 1.1;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
}

.back {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
    padding: 12px;
    background-color: #092e20;
    border: solid #000000 2px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
}

.back:hover {
    scale: 1.1;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
}

footer {
    margin: 25px 0;
    color: whitesmoke;
    font-style: italic;
    cursor:default;
}

@media(min-width: 1920px) {
    
    }

@media(1200px <= width <= 1919px) {

    .header-menu ul li a {
        font-size: 22px;
    }
    
    }
@media(992px <= width <= 1199px) {
    .header-menu ul li a {
        font-size: 20px;
    }
    .label-title {
        font-size: 32px;
    }

    }

@media(768px <= width <= 991px) {
    .header-menu ul li a {
        font-size: 18px;
    }
    .header-logo img {
        width: 70px;
        height: 70px;
    }
    .label-title {
        font-size: 30px;
    }
    
    .confirmar {
        font-size: 12px;
    }

    .cancelar {
        font-size: 12px;
    }

    .back{
        font-size: 12px;
    }

    footer{
        font-size: 14px;
    }

    }

@media(426px <= width <= 767px) {
    .header-menu ul li a {
        font-size: 16px;
    }

    .header-logo img {
        width: 65px;
        height: 65px;
    }

    .label-title {
        font-size: 28px;
    }

    .confirmar {
        font-size: 10px;
    }

    .cancelar {
        font-size: 10px;
    }

    .back{
        font-size: 10px;
    }

    footer {
        font-size: 12px;
    }

    }

@media(max-width: 425px) {
    .header-menu ul li a {
        font-size: 12px;
    }
    .header-logo img {
        width: 50px;
        height: 50px;
    }
    .label-title {
        font-size: 22px;
    }

    .confirmar {
        font-size: 8px;
    }

    .cancelar {
        font-size: 8px;
    }

    .back{
        font-size: 8px;
    }

    footer{
        font-size: 8px;
    }
    }

